<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v4.min.js"
            charset="utf-8"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static',filename='css/style.css')}}>
    <!-- <script src="d3.v4.min.js"></script> -->
    <!-- <script src="../static/script.js"></script> -->
    <title> Sleepy Heads </title>
  </head>

  <body>
    <!-- <script src="../static/script.js"></script> -->

    <!-- select an activity !-->
    <div class="jumbotron">
      <div class="container text-center">
        <h1> Where does your time go? </h1>
        <p> An interactive data visualization of how the average American spends his or her day!</p>
      </div>
    </div>
    <div class = "intro">
      <p class="text-center">Introduction to data</p>
    </div>
    <div class="row">
      <div class="col-sm">
        <p> Time is the ultimate resource that we all wish we had more of. Do you want to know where your time is going? Well, we do too! Enter this website. We visualize what the average person spends doing in his or her day in a fun and engaging manner using d3 elements so that we pass softdev. Using datasets gathered from the interwebs, we will display information on things like what percent of their lifetime or a day the average person spends walking, sleeping, etc. This is important because, not only is it interesting to see how our activity accumulate. Data is taken from the American Time Use Survey. </p>
      </div>
      <div class="col-sm">
    <div class="form-group">
    <label for="activity">Select type of data</label>
    <!-- <form> -->
      <select multiple class="form-control" size="6" id="activity" onchange="update()">
	<option stat="0">avg_weekly</option>
	<option stat="1">avg_weekend</option>
	<option>percent_weekly</option>
	<option>percent_weekend</option>
	<option>pro_weekly</option>
	<option>pro_weekend</option>
      </select>
    <!-- </form> -->
  </div>
</div>
<div class="col-sm">
  <div id="chart">
    </div>
</div>
</div>

    <!--svg width = "900" height = "500" id = "svgfield"></svg!-->
    <div class="row">
      <div class="col">
        <svg width = "600" height = "500" class = "clock"> </svg>
      </div>
      <div class="col">
        <svg width = "600" height = "400" class = "bar_chart"></svg>
        <p> Percentage of People doing each activity at the given time on the left </p>
      </div>

    <script src="../static/script.js"></script>


        <br>
    <!-- <script type = "text/csv" src = "../data/table2.csv"></script> -->

  </body>
  <!-- <script src="../static/script.js"></script> -->

</html>
