<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v4.min.js"
            charset="utf-8"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static',filename='css/style.css')}}>
    <!-- <script src="d3.v4.min.js"></script> -->
    <!-- <script src="../static/script.js"></script> -->
    <title> Sleepy Heads </title>
  </head>

  <body>
    <!-- <script src="../static/script.js"></script> -->

    <!-- select an activity !-->
    <h1> Where does your time go? </h1>
    <div class="row">
      <div class="col-xs-6">
    <div class="form-group">
    <label for="activity">Select type of data</label>
    <!-- <form> -->
      <select multiple class="form-control" id="activity" onchange="update()">
	<option stat="0">avg_weekly</option>
	<option stat="1">avg_weekend</option>
	<option>percent_weekly</option>
	<option>percent_weekend</option>
	<option>pro_weekly</option>
	<option>pro_weekend</option>
      </select>
    <!-- </form> -->
  </div>
</div>
<!-- <div class="col-xs-6">
</div> -->
</div>

    <!--svg width = "900" height = "500" id = "svgfield"></svg!-->

    <svg width = "900" height = "500" id = "svgfield"></svg>

    <div class="chart">
      </div>

    <script src="../static/script.js"></script>
        <br>
    <!-- <script type = "text/csv" src = "../data/table2.csv"></script> -->

  </body>
  <!-- <script src="../static/script.js"></script> -->

</html>
