<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v4.min.js"
            charset="utf-8"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href={{ url_for('static',filename='css/style.css')}}>
    <!-- <script src="d3.v4.min.js"></script> -->
    <!-- <script src="../static/script.js"></script> -->
    <title> Sleepy Heads </title>
  </head>

  <body>
    <!-- <script src="../static/script.js"></script> -->

    <!-- select an activity !-->
    <h1> Where does your time go? </h1>
    <form>
      <select id="activity" onchange="getActivity()">
	<option>sleeping</option>
	<option>eating</option>
	<option>studying</option>
	<option>washing dishes</option>
      </select>
    </form>

    <svg width = "900" height = "500" id = "svgfield"></svg>










    <div class="chart">
      </div>
    <script src="../static/script.js"></script>
    <script type = "text/csv" src = "../data/table2.csv"></script>

  </body>
  <!-- <script src="../static/script.js"></script> -->

</html>
